.market-projects {
    gap: 30px;
    display: flex;
    flex-direction: column;

    padding: var(--margin);
}

.market-projects-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.market-projects-body {
    gap: 20px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.market-price {
    gap: 20px;
    display: flex;
}

.price-description {
    gap: 20px;
    display: flex;
    align-items: center;

    color: #656084;
}

.price-switch {
    gap: 10px;
    display: flex;
    align-items: center;

    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F0FE;
    padding: 10px 20px;

    font-weight: 600;
}

.button-download {
    border-color: #1DBF73;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    padding: 16px 48px;
    width: 238px;

    color: #1DBF73;
    font-weight: 600;
}

.button-download-items {
    display: flex;
    justify-content: center;
}