.tasks {
    gap: 20px;
    display: flex;
    flex-direction: column;

    margin: var(--margin);
}

.tasks-stages {
    display: flex;
    justify-content: space-between;
}

.tasks-stages-items {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

    width: 380px;
}

.tasks-heading {
    font-size: 24px;
    font-weight: 600;
}

.tasks-stages-heading {
    font-weight: 600;
}

.tasks-stages-description {
    font-size: 14px;
}