.header {
    margin-bottom: 40px;
}

.works-hero-categories {
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 17px 15px -5px rgba(34, 60, 80, 0.2);
}

.works-hero-search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #F2F0FE;
    width: 600px;
    height: 60px;
    border-radius: 50px;
} 

.works-search-input {
    padding: 0 20px;
    outline: none;
}

.works-search-button {
    background-color: #FBA457;
    height: 60px;
    border-radius: 50px;
    padding: 15px 40px;
    
    color: #F6FAFD;
    font-weight: 700;
}

.works-hero-headings {
    gap: 10px;
    display: flex;
    
    margin-bottom: 30px;
}