.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: var(--margin);

    font-weight: 500;
}

.nav {
    gap: 40px;
    display: flex;

    font-size: 15px;
}

.auth {
    gap: 20px;
    display: flex;
}

.log-button {
    background-color: #F2F0FE;
    border-radius: 50px;
    padding: 10px 30px;
    
    color: #1DBF73;
    font-weight: 600;
}

.reg-button {
    background-color: #1DBF73;
    border-radius: 50px;
    padding: 10px 30px;
    
    color: #F2F0FE;
    font-weight: 600;
}